<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="team.aliens.dms_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name="team.aliens.dms_android.app.splash.SplashActivity"
            android:exported="false" />

        <activity
            android:name="team.aliens.dms_android.app.MainActivity"
            android:exported="true" />
    </application>
</manifest>
